<script setup lang="ts">
import * as Yup from 'yup'
import type { AxiosError } from 'axios'
import { useForm } from 'vee-validate'
import { useRoute, useRouter } from 'vue-router'

import BaseButton from '@/components/BaseButton/BaseButton.vue'
import BaseInput from '@/components/BaseInput'

import { LOCATE_TO_QUERY } from '@/router'
import { RouteNames } from '@/router/types'
import { useAuthStore } from '@/stores'

const router = useRouter()
const route = useRoute()
const authStore = useAuthStore()

const validationSchema = Yup.object({
  login: Yup.string().required(),
  password: Yup.string().required(),
})

type FormValues = Yup.InferType<typeof validationSchema>

const initialValues: FormValues = {
  login: '',
  password: '',
}

const { handleSubmit, isSubmitting, setErrors } = useForm<FormValues>({
  initialValues,
  validationSchema,
})

const onSubmit = handleSubmit(async function (values) {
  try {
    await authStore.signIn(values)

    const castQuery = route.query[LOCATE_TO_QUERY] ? String(route.query[LOCATE_TO_QUERY]) : '/'

    router.push(castQuery)
  } catch (error) {
    const { response } = error as AxiosError

    if (response?.status === 400) {
      setErrors({
        login: ' ',
        password: 'Login or Password are invalid',
      })

      return
    }

    setErrors({
      login: ' ',
      password: 'Unknown error',
    })
  }
})
</script>

<template>
  <form class="flex h-full w-full flex-col items-center justify-center gap-4" @submit="onSubmit">
    <h2 class="text-xl font-medium text-white">
      {{ 'Dating App | Sign In' }}
    </h2>

    <BaseInput name="login" placeholder="Type username or email" :readonly="isSubmitting">
      <template #label>
        {{ 'Login' }}
      </template>
    </BaseInput>

    <BaseInput name="password" placeholder="Type password" :readonly="isSubmitting" type="password">
      <template #label>
        {{ 'Password' }}
      </template>
    </BaseInput>

    <BaseButton class="w-full" :disabled="isSubmitting">
      {{ 'Sing In' }}
    </BaseButton>

    <div class="flex w-full items-center justify-center gap-4 text-gray-200">
      <hr class="w-full border-gray-200" />

      <p>
        {{ 'Or' }}
      </p>

      <hr class="w-full border-gray-200" />
    </div>

    <RouterLink class="text-blue-400" :to="{ name: RouteNames.SIGN_UP, query: route.query }">
      {{ 'Sign Up' }}
    </RouterLink>
  </form>
</template>
