<script setup lang="ts">
import * as Yup from 'yup'
import type { AxiosError } from 'axios'
import { useForm } from 'vee-validate'
import { useRoute, useRouter } from 'vue-router'

import BaseButton from '@/components/BaseButton/BaseButton.vue'
import BaseInput from '@/components/BaseInput'

import { useApi } from '@/api'
import { LOCATE_TO_QUERY } from '@/router'
import { RouteNames } from '@/router/types'
import { useAuthStore } from '@/stores'

const router = useRouter()
const route = useRoute()
const api = useApi()
const authStore = useAuthStore()

const validationSchema = Yup.object({
  username: Yup.string().min(4).required(),
  email: Yup.string().email().required(),
  password: Yup.string().min(4).required(),
  passwordConfirmation: Yup.string()
    .oneOf([Yup.ref('password')], 'Passwords must match')
    .required(),
})

type FormValues = Yup.InferType<typeof validationSchema>

const initialValues: FormValues = {
  username: '',
  email: '',
  password: '',
  passwordConfirmation: '',
}

const { handleSubmit, isSubmitting, setErrors } = useForm<FormValues>({
  initialValues,
  validationSchema,
})

const onSubmit = handleSubmit(async function (values) {
  try {
    await api.users.create(Object.assign(values, { passwordConfirmation: undefined }))

    await authStore.signIn({
      login: values.username,
      password: values.password,
    })

    const castQuery = route.query[LOCATE_TO_QUERY] ? String(route.query[LOCATE_TO_QUERY]) : '/'

    router.push(castQuery)
  } catch (error) {
    const { response } = error as AxiosError<{ message: string }>

    if (response?.status === 400) {
      if (response.data.message.includes('username')) {
        setErrors({
          username: 'Username already exist',
        })
        return
      }

      if (response.data.message.includes('email')) {
        setErrors({
          email: 'Email already exist',
        })
        return
      }
    }

    setErrors({
      username: ' ',
      email: ' ',
      password: ' ',
      passwordConfirmation: 'Unknown error',
    })
  }
})
</script>

<template>
  <form class="flex h-full w-full flex-col items-center justify-center gap-4" @submit="onSubmit">
    <h2 class="text-xl font-medium text-white">
      {{ 'Dating App | Sign Up' }}
    </h2>

    <BaseInput name="username" placeholder="Type username" :readonly="isSubmitting">
      <template #label>
        {{ 'Username' }}
      </template>
    </BaseInput>

    <BaseInput name="email" placeholder="Type email" :readonly="isSubmitting" type="email">
      <template #label>
        {{ 'Email' }}
      </template>
    </BaseInput>

    <BaseInput name="password" placeholder="Type password" :readonly="isSubmitting" type="password">
      <template #label>
        {{ 'Password' }}
      </template>
    </BaseInput>

    <BaseInput
      name="passwordConfirmation"
      placeholder="Type password confirmation"
      :readonly="isSubmitting"
      type="password"
    >
      <template #label>
        {{ 'Password confirmation' }}
      </template>
    </BaseInput>

    <BaseButton class="w-full" :disabled="isSubmitting">
      {{ 'Sing Up' }}
    </BaseButton>

    <div class="flex w-full items-center justify-center gap-4 text-gray-200">
      <hr class="w-full border-gray-200" />

      <p>
        {{ 'Or' }}
      </p>

      <hr class="w-full border-gray-200" />
    </div>

    <RouterLink class="text-blue-400" :to="{ name: RouteNames.SIGN_IN, query: route.query }">
      {{ 'Sign In' }}
    </RouterLink>
  </form>
</template>
