<script setup lang="ts">
import * as Yup from 'yup'
import { useFileDialog } from '@vueuse/core'
import { storeToRefs } from 'pinia'
import { useForm } from 'vee-validate'
import { ref } from 'vue'

import UserCircleIcon from '@/assets/icons/user-circle.svg'

import BaseButton from '@/components/BaseButton/BaseButton.vue'
import BaseInput from '@/components/BaseInput/BaseInput.vue'
import BaseRadioButton from '@/components/BaseRadioButton/BaseRadioButton.vue'

import { useApi } from '@/api'
import { useAuthStore } from '@/stores'

const api = useApi()

const authStore = useAuthStore()
const { authState } = storeToRefs(authStore)

const avatarLoading = ref(false)

const { onChange, reset, open } = useFileDialog({
  accept: '.jpeg,.jpg,.png',
})

onChange(async (files) => {
  const avatar = files?.item?.(0)

  if (!avatar) {
    return
  }

  try {
    avatarLoading.value = true

    await api.users.uploadAvatar(avatar)

    await authStore.initialize()
  } catch (error) {
    alert('[Avatar Uploading]: Unknown error, avatar not uploaded.')
    console.error(error)
  } finally {
    avatarLoading.value = false
    reset()
  }
})

const validationSchema = Yup.object({
  aboutMe: Yup.string().defined(),
  education: Yup.string().defined(),
  zodiacSign: Yup.string().defined(),
  hobbies: Yup.string().defined(),
  city: Yup.string().defined(),
  country: Yup.string().defined(),
  jobTitle: Yup.string().defined(),
  height: Yup.string().defined(),
  gender: Yup.string().defined(),
  birthday: Yup.string().defined(),
  middleName: Yup.string().defined(),
  lastName: Yup.string().defined(),
  firstName: Yup.string().defined(),
  username: Yup.string().defined(),
  phoneNumber: Yup.string().defined(),
  email: Yup.string().email().defined(),
})

type FormValues = Yup.InferType<typeof validationSchema>

const initialValues: FormValues = {
  ...authState.value,
}

const { handleSubmit, isSubmitting, meta } = useForm({
  initialValues,
  validationSchema,
})

const onSubmit = handleSubmit(async function (values) {
  if (!meta.value.dirty) {
    return
  }

  try {
    await api.users.updateMe(values)

    await authStore.initialize()
  } catch (error) {
    alert('[Profile Saving]: Unknown error, profile not saved.')
    console.error(error)
  }
})
</script>

<template>
  <form class="flex w-full flex-col gap-6" @submit="onSubmit">
    <div class="flex w-full flex-col items-center justify-center gap-2 p-4">
      <button type="button" @click="() => open()">
        <template v-if="authState.avatar">
          <img
            alt="User Avatar"
            class="h-32 w-32 rounded-full bg-gray-400 object-cover object-center"
            loading="lazy"
            :src="authState.avatar"
          />
        </template>

        <template v-else>
          <UserCircleIcon class="h-32 w-32 fill-white" />
        </template>
      </button>

      <p class="text-xs text-gray-400">
        {{ 'Click avatar circle for change*' }}
      </p>
    </div>

    <BaseInput name="username" placeholder="Type username" :readonly="isSubmitting">
      <template #label>
        {{ 'Username' }}
      </template>
    </BaseInput>

    <BaseInput name="email" placeholder="Type email" :readonly="isSubmitting" type="email">
      <template #label>
        {{ 'Email' }}
      </template>
    </BaseInput>

    <BaseInput
      name="phoneNumber"
      placeholder="Type phone number"
      :readonly="isSubmitting"
      type="tel"
    >
      <template #label>
        {{ 'Phone Number' }}
      </template>
    </BaseInput>

    <BaseInput name="firstName" placeholder="Type first name" :readonly="isSubmitting">
      <template #label>
        {{ 'First Name' }}
      </template>
    </BaseInput>

    <BaseInput name="lastName" placeholder="Type last name" :readonly="isSubmitting">
      <template #label>
        {{ 'Last Name' }}
      </template>
    </BaseInput>

    <BaseInput name="middleName" placeholder="Type middle name" :readonly="isSubmitting">
      <template #label>
        {{ 'Middle Name' }}
      </template>
    </BaseInput>

    <BaseInput name="birthday" :readonly="isSubmitting" type="date">
      <template #label>
        {{ 'Birthday' }}
      </template>
    </BaseInput>

    <div class="flex flex-col gap-1">
      <p class="text-gray-100">
        {{ 'Gender' }}
      </p>

      <div class="flex items-center gap-4">
        <BaseRadioButton label="None" name="gender" value="" />
        <BaseRadioButton name="gender" value="Man" />
        <BaseRadioButton name="gender" value="Woman" />
      </div>
    </div>

    <BaseInput name="height" placeholder="Type height" :readonly="isSubmitting" type="number">
      <template #label>
        {{ 'Height (cm)' }}
      </template>
    </BaseInput>

    <BaseInput name="jobTitle" placeholder="Type job" :readonly="isSubmitting">
      <template #label>
        {{ 'Job' }}
      </template>
    </BaseInput>

    <BaseInput name="country" placeholder="Type country" :readonly="isSubmitting">
      <template #label>
        {{ 'Country' }}
      </template>
    </BaseInput>

    <BaseInput name="city" placeholder="Type city" :readonly="isSubmitting">
      <template #label>
        {{ 'City' }}
      </template>
    </BaseInput>

    <BaseInput
      as="textarea"
      class="resize-none [&_textarea]:h-32 [&_textarea]:py-2"
      name="hobbies"
      placeholder="Type hobbies"
      :readonly="isSubmitting"
    >
      <template #label>
        {{ 'Hobbies' }}
      </template>
    </BaseInput>

    <div class="flex flex-col gap-1">
      <p class="text-gray-100">
        {{ 'Zodiac sign' }}
      </p>

      <div class="flex flex-wrap items-center gap-4">
        <BaseRadioButton label="None" name="zodiacSign" value="" />
        <BaseRadioButton name="zodiacSign" value="Cancer" />
        <BaseRadioButton name="zodiacSign" value="Gemini" />
        <BaseRadioButton name="zodiacSign" value="Taurus" />
        <BaseRadioButton name="zodiacSign" value="Aquarius" />
        <BaseRadioButton name="zodiacSign" value="Aries" />
        <BaseRadioButton name="zodiacSign" value="Libra" />
        <BaseRadioButton name="zodiacSign" value="Pisces" />
        <BaseRadioButton name="zodiacSign" value="Sagittarius" />
        <BaseRadioButton name="zodiacSign" value="Capricorn" />
        <BaseRadioButton name="zodiacSign" value="Leo" />
        <BaseRadioButton name="zodiacSign" value="Scorpio" />
        <BaseRadioButton name="zodiacSign" value="Virgo" />
      </div>
    </div>

    <BaseInput
      as="textarea"
      class="resize-none [&_textarea]:h-32 [&_textarea]:py-2"
      name="education"
      placeholder="Type education"
      :readonly="isSubmitting"
    >
      <template #label>
        {{ 'Education' }}
      </template>
    </BaseInput>

    <BaseInput
      as="textarea"
      class="resize-none [&_textarea]:h-32 [&_textarea]:py-2"
      name="aboutMe"
      placeholder="Type about me"
      :readonly="isSubmitting"
    >
      <template #label>
        {{ 'About me' }}
      </template>
    </BaseInput>

    <BaseButton type="submit">
      {{ 'Save Changes' }}
    </BaseButton>
  </form>
</template>
