<script setup lang="ts">
import { onBeforeUnmount, ref } from 'vue'

import UserCircleIcon from '@/assets/icons/user-circle.svg'

import { useApi } from '@/api'
import type { ChatResponse } from '@/api/chats-rest/types'
import { useCurrentUser } from '@/composables/useCurrentUser'
import { RouteNames } from '@/router/types'

const api = useApi()
const currentUser = useCurrentUser()
const chats = ref<ChatResponse[]>([])

const timeOut = ref(0)
const cleared = ref(false)

await fetchData()

async function fetchData() {
  try {
    const response = await api.chats.list()

    chats.value = response.chats
  } catch (error) {
    console.error(error)

    alert('[Chats fetching]: Unknown error')
  } finally {
    if (!cleared.value) {
      timeOut.value = setTimeout(() => {
        fetchData()
      }, 3_000)
    }
  }
}

function getChatUser(chat: ChatResponse) {
  return chat.firstUser.username === currentUser.username ? chat.secondUser : chat.firstUser
}

onBeforeUnmount(() => {
  cleared.value = true
  clearTimeout(timeOut.value)
})
</script>

<template>
  <template v-if="chats.length">
    <div class="flex flex-col gap-1">
      <template v-for="(chat, index) in chats" :key="index">
        <RouterLink
          class="flex w-full items-center justify-between gap-2 rounded-lg p-4 even:bg-slate-50/5 hover:bg-gray-50/15"
          :to="{ name: RouteNames.CHAT_DETAIL, params: { id: chat.id } }"
        >
          <template v-if="getChatUser(chat).avatar">
            <img
              alt="User Avatar"
              class="h-16 w-16 rounded-full bg-gray-400 object-cover object-center"
              loading="lazy"
              :src="getChatUser(chat).avatar"
            />
          </template>

          <template v-else>
            <UserCircleIcon class="h-16 w-16 fill-white" />
          </template>

          <p class="text-lg text-gray-200">
            {{ `@${getChatUser(chat).username}` }}
          </p>
        </RouterLink>
      </template>
    </div>
  </template>

  <template v-else>
    <h2 class="text-center text-xl text-white">
      {{ 'Chats empty' }}
    </h2>
  </template>
</template>
