<script setup lang="ts">
import { format as dateFormat } from 'date-fns'
import { onBeforeUnmount, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import BaseButton from '@/components/BaseButton/BaseButton.vue'
import BaseInput from '@/components/BaseInput/BaseInput.vue'

import { useApi } from '@/api'
import type { ChatMessage, ChatResponse } from '@/api/chats-rest/types'
import { useCurrentUser } from '@/composables/useCurrentUser'
import { RouteNames } from '@/router/types'

const api = useApi()
const route = useRoute()
const router = useRouter()
const currentUser = useCurrentUser()

const chat = ref<ChatResponse>(null!)
const chatMessages = ref<ChatMessage[]>([])

const timeOut = ref(0)
const cleared = ref(false)

function getChatUser(chat: ChatResponse) {
  return chat.firstUser.username === currentUser.username ? chat.secondUser : chat.firstUser
}

const messageText = ref('')

await fetchChat()

async function fetchChat() {
  try {
    const response = await api.chats.getChat({
      id: String(route.params.id),
    })

    chat.value = response

    if (!cleared.value) {
      await fetchMessages()
    }
  } catch {
    router.push({
      name: RouteNames.PAGE_NOT_FOUND,
      params: { pathMatch: route.path.substring(1).split('/') },
      query: route.query,
      hash: route.hash,
    })
  }
}

async function fetchMessages() {
  try {
    const response = await api.chats.getChatMessages({
      id: chat.value.id,
    })

    chatMessages.value = response.messages
  } catch (error) {
    console.error(error)

    alert('[Chat Messages Fetching]: Unknown error')
  } finally {
    timeOut.value = setTimeout(() => {
      fetchMessages()
    }, 3_000)
  }
}

async function sentMessage() {
  try {
    await api.chats.createMessage({
      chatId: chat.value.id,
      message: messageText.value,
    })

    chatMessages.value.push({
      chatId: chat.value.id,
      sender: currentUser.id,
      text: messageText.value,
      createdAt: new Date().toJSON(),
      updatedAt: '',
    })

    messageText.value = ''
  } catch (error) {
    console.error(error)
    alert('[Message]: unkwown error')
  }
}

onBeforeUnmount(() => {
  cleared.value = true
  clearTimeout(timeOut.value)
})
</script>

<template>
  <div class="sticky top-2 flex items-center justify-center pb-2">
    <template v-if="getChatUser(chat).avatar">
      <img
        alt="User Avatar"
        class="h-32 w-32 rounded-full bg-gray-400 object-cover object-center"
        loading="lazy"
        :src="getChatUser(chat).avatar"
      />
    </template>

    <template v-else>
      <UserCircleIcon class="h-32 w-32 fill-white" />
    </template>
  </div>

  <div class="flex flex-col-reverse gap-2 pb-36">
    <template v-for="(message, index) in [...chatMessages].reverse()" :key="index">
      <div
        class="inline-flex w-max flex-col gap-0.5 rounded bg-slate-100/60 p-1"
        :class="{
          'self-end': message.sender === currentUser.id,
        }"
      >
        <p>
          {{ message.text }}
        </p>

        <p class="self-end text-xs">
          {{ dateFormat(new Date(message.createdAt), 'hh:mm') }}
        </p>
      </div>
    </template>
  </div>

  <div
    class="fixed bottom-[4.5rem] left-0 right-0 flex h-16 items-center justify-center gap-6 px-4"
  >
    <div class="flex w-full max-w-[30rem] items-center gap-2 rounded-xl bg-blue-400 p-1">
      <BaseInput v-model="messageText" placeholder="Type message" />

      <BaseButton @click="sentMessage">
        {{ 'Sent' }}
      </BaseButton>
    </div>
  </div>
</template>
