<script setup lang="ts">
import { ref } from 'vue'

import UserCircleIcon from '@/assets/icons/user-circle.svg'

import BaseButton from '@/components/BaseButton/BaseButton.vue'

import { useApi } from '@/api'
import type { Like } from '@/api/likes-rest/types'
import { RouteNames } from '@/router/types'

const api = useApi()

const likes = ref<Like[]>([])

await fetchData()

async function fetchData() {
  try {
    const response = await api.likes.list()

    likes.value.push(...response)
  } catch (error) {
    console.error(error)
    alert('[Fetch Likes]: Unknown error.')
  }
}
</script>

<template>
  <template v-if="likes.length">
    <div class="flex flex-col gap-4">
      <template v-for="(like, index) in likes" :key="index">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-4">
            <UserCircleIcon class="h-8 w-8 fill-white" />

            <p class="text-lg text-white">
              {{ like.createdBy.username }}
            </p>
          </div>

          <RouterLink :to="{ name: RouteNames.PROFILE, params: { id: like.createdBy.id } }">
            <BaseButton>
              {{ 'View Profile' }}
            </BaseButton>
          </RouterLink>
        </div>
      </template>
    </div>
  </template>

  <template v-else>
    <h2 class="text-center text-xl text-white">
      {{ 'Likes empty' }}
    </h2>
  </template>
</template>
