<script setup lang="ts">
import { format as dateFormat } from 'date-fns'
import { provide, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import UserCircleIcon from '@/assets/icons/user-circle.svg'

import BaseButton from '@/components/BaseButton/BaseButton.vue'

import { useApi } from '@/api'
import type { User } from '@/api/users-rest/types'
import { RouteNames } from '@/router/types'

const api = useApi()
const route = useRoute()
const router = useRouter()
const profile = ref<User>(null!)

await fetchData()

async function sentMessage() {
  try {
    const response = await api.chats.create({
      user: profile.value.id,
    })

    router.push({
      name: RouteNames.CHAT_DETAIL,
      params: {
        id: response.chatId,
      },
    })
  } catch (error) {
    console.error(error)

    alert('[Sent Message]: unknown error')
  }
}

async function fetchData() {
  try {
    const response = await api.users.getOneById({
      id: String(route.params.id),
    })

    profile.value = response
  } catch {
    router.push({
      name: RouteNames.PAGE_NOT_FOUND,
      params: { pathMatch: route.path.substring(1).split('/') },
      query: route.query,
      hash: route.hash,
    })
  }
}
</script>

<template>
  <div class="flex flex-col gap-4 text-center">
    <div class="flex w-full flex-col items-center justify-center gap-2 p-4">
      <template v-if="profile.avatar">
        <img
          alt="User Avatar"
          class="h-32 w-32 rounded-full bg-gray-400 object-cover object-center"
          loading="lazy"
          :src="profile.avatar"
        />
      </template>

      <template v-else>
        <UserCircleIcon class="h-32 w-32 fill-white" />
      </template>
    </div>

    <BaseButton @click="sentMessage">
      {{ 'Send Message' }}
    </BaseButton>

    <div class="flex flex-col gap-2 text-white">
      <h3 class="text-lg font-medium">
        {{ 'Email' }}
      </h3>

      <p>
        {{ profile.email }}
      </p>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h3 class="text-lg font-medium">
        {{ 'Username' }}
      </h3>

      <p>
        {{ profile.username }}
      </p>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h3 class="text-lg font-medium">
        {{ 'FullName' }}
      </h3>

      <p>
        {{ [profile.lastName, profile.firstName, profile.middleName].join(' ').trim() || 'None' }}
      </p>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h3 class="text-lg font-medium">
        {{ 'Phone number' }}
      </h3>

      <p>
        {{ profile.phoneNumber }}
      </p>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h3 class="text-lg font-medium">
        {{ 'Birthday' }}
      </h3>

      <p>
        {{ profile.birthday ? dateFormat(new Date(profile.birthday), 'dd.MM.yyyy') : 'None' }}
      </p>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h3 class="text-lg font-medium">
        {{ 'Gender' }}
      </h3>

      <p>
        {{ profile.gender || 'None' }}
      </p>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h3 class="text-lg font-medium">
        {{ 'Height (cm)' }}
      </h3>

      <p>
        {{ profile.height || 'None' }}
      </p>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h3 class="text-lg font-medium">
        {{ 'Job' }}
      </h3>

      <p>
        {{ profile.jobTitle || 'None' }}
      </p>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h3 class="text-lg font-medium">
        {{ 'Country' }}
      </h3>

      <p>
        {{ profile.country || 'None' }}
      </p>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h3 class="text-lg font-medium">
        {{ 'City' }}
      </h3>

      <p>
        {{ profile.city || 'None' }}
      </p>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h3 class="text-lg font-medium">
        {{ 'Hobbies' }}
      </h3>

      <p>
        {{ profile.hobbies || 'None' }}
      </p>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h3 class="text-lg font-medium">
        {{ 'Zodiac sign' }}
      </h3>

      <p>
        {{ profile.zodiacSign || 'None' }}
      </p>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h3 class="text-lg font-medium">
        {{ 'Education' }}
      </h3>

      <p>
        {{ profile.education || 'None' }}
      </p>
    </div>

    <div class="flex flex-col gap-2 text-white">
      <h3 class="text-lg font-medium">
        {{ 'About me' }}
      </h3>

      <p>
        {{ profile.aboutMe || 'None' }}
      </p>
    </div>
  </div>
</template>
