<script setup lang="ts">
import { ref } from 'vue'

import BaseButton from '@/components/BaseButton/BaseButton.vue'

import { useApi } from '@/api'
import type { Recommendation } from '@/api/recommendation-rest/types'
import { RouteNames } from '@/router/types'

const api = useApi()

const recommendations = ref<Recommendation[]>([])

await fetchData()

async function fetchData() {
  try {
    const response = await api.recommendation.list()

    recommendations.value.push(...response)
  } catch (error) {
    console.error(error)
    alert('[Fetch Recommendations]: Unknown error.')
  }
}

async function handleLike() {
  try {
    await api.likes.like({
      liked: true,
      user: recommendations.value?.[0].id,
    })

    recommendations.value.splice(0, 1)
  } catch (error) {
    console.error(error)
    alert('[Like]: Unknown error.')
  }
}

async function handleDislike() {
  try {
    await api.likes.like({
      liked: false,
      user: recommendations.value?.[0].id,
    })

    recommendations.value.splice(0, 1)
  } catch (error) {
    console.error(error)
    alert('[Dislike]: Unknown error.')
  }
}
</script>

<template>
  <template v-if="recommendations.length">
    <div class="relative flex h-full flex-col justify-between gap-4">
      <div class="relative flex h-full w-full flex-col gap-4">
        <div
          class="h-full w-full rounded-lg bg-gray-400 bg-cover bg-center"
          :style="{
            backgroundImage: `url(${recommendations?.[0].avatar})`,
          }"
        />

        <div class="flex-shrink-0 text-gray-200">
          <p class="text-lg">
            <strong>
              {{ 'Username:' }}
            </strong>

            {{ recommendations?.[0].username }}
          </p>
          <p class="text-lg">
            <strong>
              {{ 'First Name:' }}
            </strong>

            {{ recommendations?.[0].firstName }}
          </p>
        </div>
      </div>
      <div class="flex flex-shrink-0 items-center justify-center gap-8">
        <BaseButton @click="handleDislike">
          {{ 'Dislike' }}
        </BaseButton>

        <BaseButton @click="handleLike">
          {{ 'Like' }}
        </BaseButton>

        <RouterLink :to="{ name: RouteNames.PROFILE, params: { id: recommendations?.[0].id } }">
          <BaseButton>
            {{ 'View Profile' }}
          </BaseButton>
        </RouterLink>
      </div>
    </div>
  </template>
  <template v-else>
    <h2 class="text-center text-xl text-white">
      {{ 'Recommendations empty' }}
    </h2>
  </template>
</template>
