<script setup lang="ts">
import { useField } from 'vee-validate'
import { useAttrs } from 'vue'

type Props = {
  modelValue?: unknown

  name?: string

  as?: 'input' | 'textarea'

  label?: string
  error?: string
  hint?: string

  readonly?: boolean
  disabled?: boolean
}

type Slots = {
  label?(): any
  error?(): any
  hint?(): any
}

const props = withDefaults(defineProps<Props>(), {
  as: 'input',
})
const slots = defineSlots<Slots>()
const attrs = useAttrs()

const { value, handleChange, handleBlur, errorMessage } = useField(
  () => props.name || 'name',
  undefined,
  {
    controlled: Boolean(props.name),
    syncVModel: true,
  },
)
</script>

<template>
  <label class="flex w-full flex-col gap-1">
    <template v-if="label || slots.label">
      <p class="text-gray-100">
        <slot name="label">
          {{ label }}
        </slot>
      </p>
    </template>

    <Component
      :is="as"
      v-bind="attrs"
      class="h-12 rounded border-2 px-3 outline-none placeholder:text-gray-400"
      :class="{
        'hover:border-blue-500 focus:border-blue-600': !readonly && !disabled,
        'brightness-75': readonly || disabled,
      }"
      :disabled="disabled"
      :readonly="readonly"
      :value="value"
      @blur="handleBlur"
      @change="handleChange"
      @input="handleChange"
    />

    <template v-if="hint || slots.hint">
      <p class="text-gray-300">
        <slot name="error">
          {{ hint }}
        </slot>
      </p>
    </template>

    <template v-if="error || slots.error || errorMessage">
      <p class="text-gray-100">
        <slot name="error">
          {{ error || errorMessage }}
        </slot>
      </p>
    </template>
  </label>
</template>
