<script setup lang="ts">
type Props = {
  type?: HTMLButtonElement['type']
}

type Slots = {
  default?(): any
}

withDefaults(defineProps<Props>(), {
  type: 'submit',
})

defineSlots<Slots>()
</script>

<template>
  <button
    class="rounded-lg bg-blue-500 px-4 py-3 text-white hover:bg-blue-600 active:bg-blue-700 disabled:cursor-not-allowed disabled:!bg-blue-200 disabled:!text-blue-500"
    :type="type"
  >
    <slot />
  </button>
</template>
