<script setup lang="ts">
import { useRoute } from 'vue-router'

import CommentsIcon from '@/assets/icons/comments.svg'
import FaceHeartsIcon from '@/assets/icons/face-hearts.svg'
import LogOutIcon from '@/assets/icons/log-out.svg'
import SearchIcon from '@/assets/icons/search.svg'
import UserIcon from '@/assets/icons/user.svg'

import { RouteNames } from '@/router/types'
import { useAuthStore } from '@/stores'

const route = useRoute()
const authStore = useAuthStore()

const pagesTitle: { [key in RouteNames]?: string } = {
  [RouteNames.ACCOUNT]: 'Account',
  [RouteNames.CHATS]: 'Chats',
  [RouteNames.LIKES]: 'Likes',
}

const LINKS = [
  {
    name: RouteNames.WELCOME,
    icon: SearchIcon,
  },
  {
    name: RouteNames.LIKES,
    icon: FaceHeartsIcon,
  },
  {
    name: RouteNames.CHATS,
    icon: CommentsIcon,
  },
  {
    name: RouteNames.ACCOUNT,
    icon: UserIcon,
  },
]
</script>

<template>
  <div class="relative flex h-full max-h-full flex-col overflow-y-auto">
    <div class="flex h-max items-center justify-between rounded-b-xl bg-gray-200 p-4">
      <h1 class="text-lg font-medium">
        {{ 'Dating App' }}

        <template v-if="pagesTitle?.[route.name as RouteNames]">
          {{ '|' }}

          {{ pagesTitle[route.name as RouteNames] }}
        </template>
      </h1>

      <button type="button" @click="authStore.logOut">
        <LogOutIcon class="h-6 w-6 fill-red-500" />
      </button>
    </div>

    <div class="flex-1 p-4 pb-20">
      <RouterView v-slot="{ Component: component }">
        <Suspense timeout="0">
          <Component :is="component" />

          <template #fallback>
            <p class="text-center text-lg text-white">
              {{ 'Loading...' }}
            </p>
          </template>
        </Suspense>
      </RouterView>
    </div>

    <div
      class="fixed bottom-0 flex h-16 w-full max-w-[30rem] items-center justify-center gap-6 rounded-t-xl bg-blue-400 px-4"
    >
      <template v-for="link in LINKS">
        <RouterLink exact-active-class="[&_svg]:fill-purple-300" :to="{ name: link.name }">
          <Component :is="link.icon" class="h-8 w-8 fill-white transition" />
        </RouterLink>
      </template>
    </div>
  </div>
</template>
