<script setup lang="ts">
import { useField } from 'vee-validate'

type Props = {
  label?: string
  value?: string
  name: string
}

const props = defineProps<Props>()

const { checked, handleChange } = useField(() => props.name, undefined, {
  syncVModel: true,
  type: 'radio',
  checkedValue: props.value,
})
</script>

<template>
  <button
    class="rounded-full border bg-white px-5 py-2.5 text-blue-500 transition-colors hover:border-blue-500 [&.checked]:border-blue-500 [&.checked]:bg-blue-500 [&.checked]:text-white"
    :class="{
      checked,
    }"
    role="radio"
    type="button"
    @click="() => handleChange(props.value)"
  >
    {{ label || value }}
  </button>
</template>
